.hide {
  display: none;
}
.show {
  color: black;
  background: white;
  border: 1px solid gray;
  width: 550px;
  height: 300px;
  position: absolute;
  top: 20%;
  /* right: 500px; */
  right: 30%;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  margin-top: 15%;
  font-size: large;
}

button {
  margin-top: 30%;
}
#createButton {
  margin-right: 2.5px;
  font-size: 36px;
}
#showButton {
  margin-left: 2.5px;
  font-size: 36px;
}
