body {
  background: #02a9da !important;
}
footer {
  /* margin-top: 15.5%; */
  bottom: 0;
  position: absolute;
  width: 100%;
  text-align: center;
}
.contactMe {
  width: 45px;
  height: 45px;
  padding-top: 5px;
}
.hideGroup {
  display: none;
}
.showGroup {
  color: black;
  background: white;
  border: 1px solid gray;
  width: 550px;
  height: 300px;
  position: absolute;
  top: 20%;
  /* right: 500px; */
  right: 30%;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  margin-top: 15%;
  font-size: large;
}

button {
  margin-top: 30%;
}
#createButton {
  margin-right: 2.5px;
  font-size: 36px;
}
#showButton {
  margin-left: 2.5px;
  font-size: 36px;
}
